.quotes{
    display: flex;
    flex-direction: column;
    width: 650px;

    .quotesContainer{
    display: flex;
    flex-direction: column;
        p{
        text-align: left;
        font-size: 36px;
        line-height: $brand-lineHeight;
        }
    }
}  

.quoteData{
    display: flex;
    flex-direction: row;
    margin-left: 215px;
    padding-top: 1.5rem;
    font-size: 20px;
    font-family: 'Exo Light'; 
        .author{
            font-family: 'Exo Light'; 
            padding-right: 5px;
            font-size: 20px;
        }
        .source{
            color: $brand-green;
            font-family: 'Exo Light Italic'; 
            font-size: 20px;
            padding-left: 5px;
        }
    }  


