body{
    background-color: $brand-bgColor;
    color: $brand-fontColor;
    width: 1080px; 
    margin: 0 auto;
    font-family: 'Exo Light';
}

header{
    display: flex;
    justify-content: center;
    margin: 40px auto;
    .logo{
        height: 90px;
    }
}

section {
    margin: 0 auto 50px auto;
    width: 950px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

i{
    font-size: 100px;
    color: $brand-green;
}