body{
    background-color: $brand-bgColor;
    color: $brand-fontColor;
    width: 1080px; 
    margin: 0 auto;
    font-family: 'Exo Light';
}

header{
    display: flex;
    justify-content: center;
    margin: 40px auto;
    .logo{
        height: 100px;
    }
}
